.nav {
  position: fixed;
  padding: 20px 10px 20px;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: #5AD4C275;
}

.nav-contact, .nav-about {
  position: fixed;
  padding: 20px 10px 20px;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: #5AD4C2;
}

.nav>a {
  color: yellow;
  text-transform: uppercase;
  letter-spacing: 0.35em;
  position: relative;
  top: 14px;
  left: 193px;
  transition: font-size 1.5s step-start;
  -webkit-transition: font-size 1.5s step-start;/* Safari */
  font-size: 2.4em;
}

.nav>a:link {
  text-decoration-line: none;
}

.nav>a:hover {
  font-size: 3.6em;
}

.nav>a:focus {
  color: #FFE5CC;
}

.nav>ul li a:link {
  color: #ff0;
  text-decoration-line: none;
}

.nav>ul li a:visited {
  color: #ff0;
  text-decoration-line: none;
}

.nav>ul li a:hover {
  text-decoration-line: overline;
  color: #F77E14;
}

.nav>ul li a:focus {
  text-decoration-line: overline;
  color: #FFE5CC;
}

.nav ul {
  float: right;
  padding: 20px 10px 20px;
  position: relative;
  right: 141px;
  bottom: 8px;
  border: solid #F77E14 2px;
  margin-bottom: -28px;
}

.nav ul li {
  display: inline-block;
  padding-right: 10px;
  -webkit-margin-before: 0;/* Safari */
  padding-left: 28px;
  text-align: left;
  list-style-position: inside;
}

.nav ul li a {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  transition: 1.5s;
  -webkit-transition: 1.5s;/* Safari */
  position: relative;
  right: 4px;
}


/* Typography */

.nav>a {
  font-size: 2.4em;
  font-family: 'Syncopate', Arial Black, Futura, sans-serif;
}

.nav ul li a {
  font-family: 'Monofett', Arial Black, Impact, sans-serif;
  font-size: 2.25em;
}

.nav>a {
  font-size: 2.6em;
  font-family: 'Syncopate', Arial Black, Futura, sans-serif;
}

.nav ul li a {
  font-family: 'Monofett', Arial Black, Impact, sans-serif;
  font-size: 2.55em;
}
